/* pages/page.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #010000;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .metrics {
    background-color: #191818;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }